header{
    background-image: url('../image/post-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding:180px;
}

.header__text{
    color: $font-white;
    text-align: center;    
}


.header__letra{
    font-family: $playfair;
    font-size : $xx-large;
    font-style: italic; 
    font-weight: bold;     
}