section{
   padding: 5rem 10rem;
}

.section_parrafo{
    text-align: left;
    text-justify: auto;    
   
}
.section__p1 {
    padding: 1rem; 
    font-family: $playfair;
    font-size: $medium;
        
}
.section__p {
    padding: 1rem; 
    font-family: $playfair;
    font-size: $medium;
       
}
.section__span{
    font-family: $playfair;
    font-size: $medium;
    color: $fuzzywuzzy;

}

